{% extends 'base.html.twig' %}

{% block main %}
	<header>
		<h1>Symfony team project</h1>
		<nav>
			<ul>
				<a class="navigation" href="{{path('app_home')}}">Home</a>
				<a class="navigation" href="{{path('app_crud_list')}}">Todo</a>
				<a class="navigation" href="{{path('app_about')}}">About</a>
			</ul>
		</nav>
	</header>
	<main class="home">
    <video autoplay loop muted>
        <source src="/assets/homebackground.mp4" type="video/mp4">
    </video>
    <div class="logo-container">
        <img class="symfonylogo" src="/assets/symfony.png" alt="Symfony logo">
    </div>
</main>
{% endblock %}
