{% extends 'base.html.twig' %}

{% block about %}
	<header>
		<a class="team_logo" href="{{path('app_home')}}">
			<h1>Symfony team project</h1>
		</a>
		<nav>
			<ul>
				<a class="navigation" href="{{path('app_home')}}">Home</a>
				<a class="navigation" href="{{path('app_crud_list')}}">Todo</a>
				<a class="navigation" href="{{path('app_about')}}">About</a>
			</ul>
		</nav>
	</header>
	<main class="team_main">
		<div class="team_output">
			<div class="team_box">
				<div class="team_title">
					<h2>Our team</h2>
				</div>
				<ul>
					<li><a href="https://github.com/ivanpudin" target="_blank">Ivan Pudin</a></li>
					<li><a href="https://github.com/Pavel-Kliukin" target="_blank">Pavel Kliukin</a></li>
					<li><a href="https://github.com/SSOL7" target="_blank">Shaho Mostafa Soltani</a></li>
				</ul>
			</div>
		</div>
	</main>
{% endblock %}
